@model CoffeeTable


@{
    ViewData["Title"] = "Detail";
}

<h1>Details</h1>
<br />
<br />

<h2>Product Name: @Model.ProductName</h2>
<br />
<h3>Description: @Model.Description</h3>
<br />
<h3>Category: @Model.Category</h3>
<br />
<h3>Price: @Model.Price</h3>
<br />
<h3>Product # @Model.ProductID</h3>




