
<h1>@ViewBag.PageName</h1>

<form method="post" action="/Admin/SaveNew">
    Product Name: <input type="text" name="ProductName" value="@ViewBag.ProductName" /> <br />
    Product Description: <input type="text" name="ProductDescription" value="@ViewBag.ProductDescription" /> <br />
    Product Price: <input type="text" name="ProductPrice" value="@ViewBag.ProductPrice" /> <br />
    Product Category: <input type="text" name="ProductCategory" value="@ViewBag.ProductCategory" /> <br />
    <input type="hidden" name="ProductID" value="@ViewBag.ProductID" />

    <input type="submit" value="@ViewBag.PageName" />
</form>

